.logo{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
    column-gap: 0.8rem;
}
.A{
    height: 65px;
    width: 65px;
}
span{
    color: var(--main-color);
}
.navbar-toggler{
    background-color: aliceblue;
}
.header-icons i{
    background: aliceblue; 
}
.navbar a{
    color: black;
}
#menu-icon{
    display: none;
}

#search-icon{
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--bg-color);
}
.search-box{
    position: absolute;
    top: 110%;
    right: -100%;
}
.search-box input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 280px;
    box-shadow: var(--box-shadow);
}
.search-box.active{
    right: 1rem;
    transition: 0.2s;
}
#user-icon{
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--bg-color);
}
.user{
    position: absolute;
    right: -100%;
    top: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.user h2{
    font-size: 1.2rem;
    color: var(--text-color);
}
.user .login-btn{
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.user .login-btn:hover{
    background: var(--text-color);
}
.user input{
    border: none;
    outline: none;
    background: var(--second-color);
    padding: 10px;
    border-radius: 0.5rem;
    width: 100%;
}
.user p{
    font-size: 0.938rem;
}
.user a{
    text-decoration: underline;
    color: var(--main-color);
}
.user.active{
    right: 1rem;
    transition: 0.2s;
}
#cart2-icon{
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--bg-color);
}
.cart2{
    position: absolute;
    top: 110%;
        right: 1rem;
    /* right: -100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.cart2 img{
    width: 100px;
}
.cart2 .box{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.cart2 .box .text h3{
    font-size: 1rem;
}
.cart2 .box .bx{
    font-size: 24px;  
}
.cart2 .box .bx:hover{
color: var(--main-color);    
}
.cart2 h2{
    font-size: 1.1rem;
    font-weight: 600;
}
.cart2.active{
    right: 1rem;
    transition: 0.2s;
}
#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--bg-color);
    margin-right: 100px;
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}
.cart.active{
    right: 0;   
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--min-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background: var(--text-color);
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
.logo h4{
    color: aliceblue;
}
.logo span{
    color: orange;
}
